.DS_Store
.idea
*.pyc
*.swp
*.sqlite3
*.fuse_hidden*
.ipynb_checkpoints
twitest.py
Untitled.ipynb
data/*
twitsearch/*.yaml
twitsearch/local.py
twitsearch/test.py
twitsearch/media/*
twitsearch/static/*
Untitled.ipynb
venv*
media/*
teste*
static