# apt install liblzma-dev pkg-config

Django<5
git+https://bitbucket.org/josir/poweradmin.git@django42
django-crispy-forms<2
django-select2
mysqlclient
psycopg2
django-smart-selects
pytz
tweepy
searchtweets-v2
openpyxl
django-admin-tools
numpy<2.0.0
wordcloud
matplotlib
networkx
seaborn
sqlparse
plotly
gunicorn
boto3
opensearch-py
eldar