{% extends "admin/base_site.html" %}

{% block title %}{{block.super}}{% endblock %}
{% block extrahead %}<meta charset="UTF-8">{% endblock %}
{% block extrastyle %}{{ block.super }}
    <link rel="stylesheet" type="text/css" href="{{ admin_media_prefix }}css/forms.css" />
{% endblock %}

{% block breadcrumbs %}
{% endblock %}

{% block content_title %}<h1>{{projeto.nome}}</h1>{% endblock %}

{% block content %}
<div id="content-main">
    <ul class="object-tools">
        <li><a href="{% url 'solicitar_csv' projeto.pk  %}">Solicitar CSV</a></li>
        {% if download %}<li><a href="/media/{{ download }}">Download CSV</a></li>{% endif %}
    </ul>
	<div>
		<fieldset class="module aligned ">
			<div class="form-row texto">
			    {% if projeto.texto %}
				<div><label>Texto Explicativo:</label><p>{{projeto.objetivo}}</p></div>
			    {% endif %}
                <label><b>Termos:</b></label>
                {% for termo in projeto.termo_set.all %}
                <div class="form-row instituicao">
                    <div>
                        <p>{% if termo.busca %}{{ termo.busca }}{% else %}Todas{% endif %}</p>
                    </div>
                </div>
                {%  endfor %}
                <p></p>
				<div><label>Total de Tweets Coletados: {{projeto.tot_twits}}</label></div>
				<div><label>Total de Retweets: {{projeto.tot_retwits}}</label></div>
				<div><label>Total de Usuários Unicos Coletados: {{projeto.unique_users}}</label></div>
			</div>
            <label style="margin-top: 10px; display: block"><b>Top 3 - Tweets mais favoritados:</b></label>
            <p></p>
            <ol>
                {% for tweet in top_tweets %}
                    <li>{{ tweet.url }}: {{ tweet.text }}</li>
                {% endfor %}
            </ol>
            <p></p>
            <label><b>Palavras mais utilizadas:</b></label>
            <p></p>
            <div class="block" style="display: flex;">
                <div class="form-row palavra">
                 {% for palavra in palavras %}
                    <div>
                        <p>
                            {{ palavra.0 }} - {{ palavra.1 }}
                        </p>
                    </div>
                {%  endfor %}
			    </div>
                 <div class="form-row heatmap">
                    <img src="{{ heatmap }}" alt="Mapa de calor" width="550">
                </div>
                <div class="form-row grafico">
                    <img src="{{ bar }}" alt="Grafico de barra" width="550">
                </div>
            </div>
		</fieldset>
	</div>
</div>
{% endblock %}