{% extends "admin/base_site.html" %}
{% load humanize %}
{% block title %}Status da Coleta{% endblock %}
{% block extrahead %}<meta charset="UTF-8">{% endblock %}
{% block extrastyle %}{{ block.super }}
{% endblock %}

{% block breadcrumbs %}
{% endblock %}


{% block content %}
<div id="content-main">    
	<div>
		<fieldset class="module aligned ">						   
            <div class="block" style="display: flex;">                
                 <div class="graficos" style="display: flex; flex-direction: column; align-items: start">
                     {% autoescape off %}                         
                         {{ grafico_div }}
                     {% endautoescape %}
                 </div>
                 {% if agendamentos_pendentes %}
                    <div class="agendamentos" style="margin-left: 20px;">
                        <h2>Agendamentos Pendentes</h2>
                        {% endif %}
                        {% for agendamento in agendamentos_pendentes %}
                            <div class="agendamento">
                                <p>ID: {{ agendamento.twit_id }}</p>
                                <p>Data: {{ agendamento.dt|date:"d/m/Y" }}</p>
                            </div>
                        {% endfor %}
                    </div>
            </div>
		</fieldset>
	</div>
</div>
{% endblock %}