{% extends "admin/base.html" %}
{% load cms_tags static %}

{% block title %}{{ title }} | {% site_name %}{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">{% site_name %}</a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}

{% block extrastyle %}
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'core/img/favicon.ico' %}">
{{ block.super }}
<style type="text/css">
    .vForeignKeyRawIdAdminField, .inline-group .tabular td.original p {
        display: none;
    }
    .inline-group .tabular tr.has_original td {
        padding-top: 1em !important;
    }
    .related-widget-wrapper-link {
        display: none !important;
    }
</style>
{% endblock %}
