{% extends "base_site.html" %}

{% block title %}Twitter Monitor{% endblock %}

{% block content %}
    <h2 style="color: #417690;">O que é ?</h2>
    O Twitter Monitor é um sistema que permite que um pesquisador capture dados do Twitter a partir de critérios de busca<br/>
    <br/>
    <h2 style="color: #417690;">Como funciona?</h2>
    <br/>
    1) O Pesquisador cria um Projeto e define os critérios de busca e uma data inicial e final<br/>
    2) O sistema inicia a coleta e armazena os tweets coletados em um banco de dados relacional<br/>
    3) A medida que a coleta é realizada, o pesquiador pode em tempo real analisar os resultados encontrados eincluir novos critérios de busca<br/>
    4) Ao final do processo, o sistema emite relatórios de totalização e permite que você exporte os dados para softwares de análise<br/>
    <br/>
    O sistema é gratuito para uso acadêmico<br/>
    Se você tem já recebeu credenciais para utilizar o sistema, <b><a href="/admin/">Clique aqui</a> para acessá-lo</b><br/>
    Se você é um pesquisador e tem interesse em utilizar a ferramenta, <a href="mailto:josir@irdx.com.br">entre em contato</a><br/>
    <h2 style="color: #417690;">Quem desenvolve</h2>
    O sistema foi concebido por Josir Gomes e conta com o apoio do IBICT/CGTI, AdUFRJ, <a href="http://larhud.ibict.br">LARHUD</a> e dos alunos e professores do <a href="http://www.ppgci.ufrj.br/">PPGCI IBICT/UFRJ</a>.<br/>
    <br/>
    <h2 style="color: #417690;">Política de Informação</h2>
    O código fonte do Tweet Monitor será baseado na licença GPL 3.0. Entretanto, só iremos liberar os fontes a partir da versão 1 pois ainda os fontes ainda não estão "apresentáveis".<br/>
    Entretanto, caso algum pesquisador queira acessar o código, por favor envie um <a href="mailto:josir@irdx.com.br">email</a> que iremos avaliar a possibilidade de compartilhamento antes da versão final<br/>
    <br/>
    Acreditamos que o verdadeiro motor para a inovação é o trabalho colaborativo que não esteja restrito às cercas da propriedade material<br/>
    <br/>
{% endblock %}