{% extends "base_site.html" %}

{% block title %}Twitter Monitor{% endblock %}

{% block content %}
    <h2 style="color: dodgerblue;">O que é ?</h2>
    O Twitter Monitor é um sistema que permite que um pesquisador capture dados do Twitter a partir de critérios de busca<br/>
    <br/>
    <br/>
    Ele permite a criação de projetos sobre um determinado assunto a ser pesquisado no Twitter
    <br/>
    <li>
        <ul>Pesquisador define os critérios de busca e uma data inicial e final</ul>
        <ul>O sistema inicia a coleta e armazena os tweets coletados em um banco de dados relacional</ul>
        <ul>A medida que a coleta é realizada, o pesquiador pode incluir novos critérios de busca</ul>
        <ul>Ao final do processo, </ul>
    </li>
    <br/>
    <h2 style="color: dodgerblue;">Quem desenvolve</h2>
    O sistema foi concebido por Josir Gomes e conta com o apoio do IBICT/CGTI, AdUFRJ e dos alunos e professores do <a href="http://www.ppgci.ufrj.br/">PPGCI IBICT/UFRJ</a>.<br/>
    <br/>
    <h2 style="color: dodgerblue;">Política de Informação</h2>
    O código fonte do Tweet Monitor será baseado na licença GPL 3.0. Entretanto, só iremos liberar os fontes a partir da versão 1 pois ainda os fontes ainda não estão "apresentáveis".<br/>
    Entretanto caso, algum pesquisador queira utilizar a ferramenta, por favor envie um <a href="mailto:josir@irdx.com.br">email</a> que iremos avaliar a possibilidade de disponibilizar o código<br/>
    <br/>
    Acreditamos que o verdadeiro motor para a inovação é o trabalho colaborativo que não esteja restrito às cercas da propriedade material<br/>
    <br/>
{% endblock %}